
<div class="banner" id='home-banner' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Save your movies </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class = "container">
  <div class = 'd-flex justify-content-around align-items-center m-10'>
    <h2> My lists (<%= @lists.size %>) </h2>
    <div>
      <%= simple_form_for(@list) do |f| %>
      <%= f.input_field :name, placeholder: 'list name' %>
      <%= f.input_field :photo, as: :file %>
      <%= f.submit 'Create list', :class => 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
  <div class = 'lists'>
    <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <%= link_to list.name, list_path(list), class: 'category-name' %>
    </div>
    <% end %>
  </div>
</div>
