<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, width: 3000, crop: :fill %>')">
  <div class = "container">
    <h1> <%= @list.name %> </h1>
  </div>
</div>

<div class = "bookmarks">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" style="background-image: url(<%= bookmark.movie.poster_url %>)"></div>
      <div class="flip-card-back" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= bookmark.movie.poster_url %>)">
        <h2> <%= bookmark.movie.title %></h2>
        <div>
        <%= bookmark.movie.rating %>
        <i class="fas fa-star"></i>
        </div>
        <div class = bookmark>
          <div>
            <i class="fas fa-video"></i>
            <%= bookmark.comment %>
          </div>
          <%= link_to "Remove", bookmark_path(bookmark), method: :delete, class: 'btn btn-danger', style: 'font-size: 12px;', data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class = 'form'>
  <h1> New Bookmark </h1>

    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' } %>
    <%= f.submit 'Create bookmark', :class => 'btn btn-success' %>
    <% end %>

  <div> <%= link_to "Back to list", lists_path, class: 'btn btn-primary' %> </div>
</div>
